<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>About Page</title>
</head>
<body>
	
	{{> header}}
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni at molestiae voluptatum sit possimus perferendis aspernatur ad quaerat beatae, excepturi asperiores aperiam non quas rem id! Velit porro, repellat et.</p>
	
	{{> footer}}
</body>
</html>