<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Projects</title>
</head>
<body>
	<!-- unique template defined -->
	{{> header}}
	{{!-- boddy --}}
	<p>Porfolio page here</p>
	{{!-- Template for foot --}}
	{{> footer}}
</body>
</html>